#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

img {
  animation: flip 2s forwards;
  margin: 1em;
}

@keyframes flip {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(720deg); }
}